{% extends 'base.html' %}

{% block title %}Página inicial{% endblock %}

{% block content %}
<div class="pagina-login">
    <div class="card-login">
        <div class="logo-login">💧🔥</div>
        <h1>Bem-vindo(a) de volta</h1>

        <form method="post" class="formulario">
            {% csrf_token %}
            <label for="email">Email</label>
            <input type="email" id="email" name="email" placeholder="seu email">

            <label for="senha">Senha</label>
            <input type="password" id="senha" name="senha" placeholder="digite sua senha">

            <button type="submit" class="btn-login">Entrar</button>
        </form>

        <p class="link-secundario">Não tem uma conta? <a href="{% url 'cadastro' %}">Cadastre-se</a></p>
    </div>
</div>
{% endblock %}